<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="https://github.com/Aivan125">Ivan</a>. His goal is to become a full stack developer. 
  </p>
  <br />
  <p>
    Prior to joining to TFP, he worked for 4 years as a hydrologist and hydraulic engineer for different goverment institutions such as Instituto del Agua and Agua y Drenaje de Monterrey. Ivan holds a degree in Civil Engineering at UANL.
  </p>
  <p>
    If you want to make a career change to web development or make your own ideas come true - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>. 
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'ivan.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Ivan Bustos</h2>
      <br />
      <p>
        Ivan is a new web developer currently learning to code at The Firehose Project.
      </p>
    </div>
  </div>
  <br class="clear" />
  
</div>

<br class="clear" />
<br />
<br />
<br />
<br />
